.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 25px;
  text-align: center;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}

.address {
  display: block;
  margin: auto;
  height: 40px;
  width: 330px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input[type="text"]:focus {
  background-color: #e6f9f4;
  outline: none;
  border-color: #10A37F;
}

select:focus {
  outline: none;
  border-color: #10A37F;
  background-color: #f3fdfb;
}

.modalContainer .footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.modalContainer .footer button {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#cancelBtn {
  background-color: #cccccc;
  color: #333;
}

#cancelBtn:hover {
  background-color: #b5b5b5;
}

.shareBtn {
  background-color: #10A37F;
  color: white;
}

.shareBtn:hover {
  background-color: #0e8c6f;
}
